{% extends "blog/base.html" %}
{% load staticfiles %}

<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static "css/blog.css" %}">
<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<title>Outofmap's blog</title>
	</head>

	<body>
	{% block content %}
    	{% for post in posts %}
        	<div class="post">
            	<div class="date">
                	{{ post.published_date }}
            	</div>
            	<h1><a href="{% url "post_detail" pk=post.pk %}">{{ post.title }}</a></h1>
            	<p>{{ post.text|linebreaks }}</p>
        	</div>
    	{% endfor %}
	{% endblock content %}
        
	    <!-- {% for post in posts %}
	    	<div class="post">
	    		<p>published : {{post.published_date}}</p>
	    		<h1><a href="">{{post.title}}</a></h1>
	    		<p>{{post.text|linebreaks}}</p>
	    	</div>
	   		
	   	{% endfor %} -->
	   <!--  <div>
	    	<p>published: 2015.10.03, 14:51</p>
	    	<h2><a href="">My first post</a></h2>
	    	<p>개천절 아침 10시부터 장고걸스 시작!</p>
	    </div>

	    <div>
	    	<p>published: 2015.10.03 14:53</p>
	    	<h2><a href="">My second post</a></h2>
	    	<p>점심먹고나서도 계속계속 하는 중!</p>
	    </div> -->

    </body>
</html>
